@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:900');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100');

body{
	 background-image: linear-gradient(to right, rgb(195, 255, 247) , #4ec1aa);
	
	font-family: 'Muli', sans-serif;
}

h1{


	font-family: 'Nunito Sans', sans-serif;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.3);
	font-weight: 300;

}

h2{

	font-family: 'Muli', sans-serif;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: 300;

}

p{
  
}

#menu{
	position: fixed;
	bottom:2rem;
	right:2.5rem;
}

.bg-azul{
 background: rgba(8,138,112,1);
}